body {
    font-family: "El Messiri", sans-serif;
    /* padding-top: 17vh; */
}

.carousel-main1{
    height: auto;
    width: 100%;
    border: 1px solid red;
    top: 10%;
    position: relative;
    padding-top: 17vh;
    /* background-color: #d2d0d4; */
    /* padding-top: 200px;  */
    /* margin-top: 64px; */
}
.carousel-box-container{
    margin: 4% ;
   
  
}
.carousel-box1 {
    height: 110vh;
    width: 92%;
    
    /* border: 1px solid rgb(15, 15, 15); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel-image1{
    height: 100%;
    width: 40%;
    margin: 0.5%;
    /* border: 1px solid rgb(15, 15, 15); */
}
.carousel-photo1{
    height: 30%;
    width: 90%;
    object-fit: cover;
    margin: 1% auto;
    
    /* border: 1px solid rgb(253, 7, 7); */
}
.carousel-photo1 img{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(253, 7, 7); */
}


.carousel-box2{
    height: 110vh;
    width: 92%;
    /* margin: 2%; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    /* border: 1px solid rgb(15, 15, 15); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-image2{
    height: 100%;
    width: 55%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;
    /* margin: 0.5%; */
    /* border: 1px solid rgb(15, 15, 15); */
}
.carousel-head{
    height: 8%;
    width: 100%;
    /* margin: 1% auto; */
    margin-top: 2%;
    /* border: 1px solid rgb(15, 15, 15); */
    /* text-align: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carousel-head h1{
    height: auto;
    width: 90%;
    margin: 1% auto;
    font-size: 4vh;
    font-weight: bold;
    color: #eb7801;
    /* align-items: center; */
    font-family: "El Messiri", sans-serif;
    /* border: 1px solid rgb(240, 8, 8); */
}
.carousel-pargh{
    height: 35%;
    width: 90%;
    /* margin: 0.5%; */
    /* border: 1px solid rgb(15, 15, 15); */
    /* text-align: left; */
    /* height: 30%; */
    /* width: 80%; */
    position: relative;
    margin: 1% auto;
    background-color: #603c86;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    /* border: 2px solid black; Thick, black border */
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px; /* Optional shadow for depth */
  
}
.carousel-pargh::before {
    content: '';
    position: absolute;
    top: 10x; /* Adjust for positioning */
    left: -20px; /* Triangle pointing out on the left */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0; 
    border-color: transparent black transparent transparent;
}
.carousel-pargh p{
    height: auto;
    width: 90%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
    /* border: 1px solid rgb(247, 7, 7); */
    font-weight: bold;
    font-family: "El Messiri", sans-serif;
    text-align: center;
    
}

.carousel-img{
    height: auto;
    width: 100%;
    margin-top: 4%;
    /* border: 1px solid rgb(15, 15, 15); */
    /* text-align: left; */
    /* margin-top: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.carousel-img img{
    height: 90%;
    width: 90%;
    object-fit: contain;
    border-radius: 10px;
   
    /* margin: 2% auto; */
    /* border: 1px solid rgb(253, 0, 0); */

}
.carousel-box3{
    height: 110vh;
    width: 92%;
    /* margin: 2%; */
    /* border: 1px solid rgb(15, 15, 15); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}




.carousel-image3{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    /* margin: 0.5%; */
    /* border: 1px solid rgb(15, 15, 15); */
}
.carousel-photo2{
    height: 80%;
    width: 90%;
    margin: 2% auto;
    border-radius: 10px;
    
    /* border: 1px solid rgb(253, 7, 7); */
}
.carousel-photo2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* carousel-pargh3 */
.carousel-pargh3 {
    height: 30%;
    width: 80%;
    position: relative;
    margin: 1% auto;
    background-color: #603c86;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    /* border: 2px solid black; Thick, black border */
    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px; /* Optional shadow for depth */
}

.carousel-pargh3::before {
    content: '';
    position: absolute;
    top: 10x; /* Adjust for positioning */
    left: -20px; /* Triangle pointing out on the left */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0; 
    border-color: transparent black transparent transparent;
}

.carousel-pargh3 p {
    height: auto;
    width: 90%;
    margin: auto;
    font-size: 2.3vh;
    font-weight: bold;
    font-family: "El Messiri", sans-serif;
    text-align: center;
}


