body {
    font-family: "El Messiri", sans-serif;
}
.carousel-main1{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    /* padding-top: 64px; 
    margin-top: 64px; */
}
.carousel-box-container{
    margin: 4% ;
   
  
}
.carousel-box1 {
    height: 120vh;
    width: 95%;
    /* border: 1px solid rgb(15, 15, 15); */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carousel-image1{
    height: 100%;
    width: 40%;
    margin: 0.5%;
    /* border: 1px solid rgb(15, 15, 15); */
}
.carousel-photo1{
    height: 30%;
    width: 90%;
    object-fit: cover;
    margin: 1% auto;
    /* border: 1px solid rgb(253, 7, 7); */
}
.carousel-photo1 img{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(253, 7, 7); */
}


.carousel-box2{
    height: 120vh;
    width: 95%;
    /* margin: 2%; */
    /* border: 1px solid rgb(15, 15, 15); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-image2{
    height: 100%;
    width: 55%;
    /* margin: 0.5%; */
    /* border: 1px solid rgb(15, 15, 15); */
}
.carousel-head{
    height: 10%;
    width: 100%;
    /* margin: 1% auto; */
    /* border: 1px solid rgb(15, 15, 15); */
    /* text-align: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carousel-head h1{
    height: auto;
    width: 90%;
    margin: 1% auto;
    font-size: 4vh;
    font-weight: bold;
    color: #eb7801;
    /* align-items: center; */
    font-family: "El Messiri", sans-serif;
    /* border: 1px solid rgb(240, 8, 8); */
}
.carousel-pargh{
    height: 40%;
    width: 100%;
    /* margin: 0.5%; */
    /* border: 1px solid rgb(15, 15, 15); */
    /* text-align: left; */
    
  
}
.carousel-pargh p{
    height: 95%;
    width: 90%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8vh;
    /* border: 1px solid rgb(247, 7, 7); */
    font-weight: bold;
    font-family: "El Messiri", sans-serif;
}

.carousel-img{
    height: auto;
    width: 100%;
    /* margin: 0.5%; */
    /* border: 1px solid rgb(15, 15, 15); */
    /* text-align: left; */
    /* margin-top: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-img img{
    height: 90%;
    width: 90%;
    object-fit: contain;
   
    /* margin: 2% auto; */
    /* border: 1px solid rgb(253, 0, 0); */

}
.carousel-box3{
    height: 120vh;
    width: 95%;
    /* margin: 2%; */
    /* border: 1px solid rgb(15, 15, 15); */
    display: flex;
    justify-content: center;
    align-items: center;
}




.carousel-image3{
    height: 100%;
    width: 100%;
    /* margin: 0.5%; */
    /* border: 1px solid rgb(15, 15, 15); */
}
.carousel-photo2{
    height: 80%;
    width: 90%;
    margin: 2% auto;
    /* border: 1px solid rgb(253, 7, 7); */
}
.carousel-photo2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}