.about-main1{
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    padding-top: 1.5%;
    /* margin-top: 6.3%; */
    /* background-color: #adadad; */
}
.about-main2{
    height: auto;
    width: 95%;
    /* border: 1px solid rgb(250, 1, 1); */
    box-sizing: border-box;
    margin: 4% auto;
}


.about-box2{
    height: auto;
    width: 40%;
    margin-top: 1%;
    /* border: 1px solid rgb(250, 1, 1); */
    /* margin-left: 10%; */
}
.about-box2 h1{
    text-align: left;
    /* height: 100%; */
    width: 100%;
    font-size: 8vh;
    font-weight: bold;
    display: flex;
    /* border: 1px solid rgb(250, 1, 1); */
    align-items: center;
    color: #eb7801;
    font-family: 'El Messiri', sans-serif;
}
.about-box3 {
    background-image: url(assests/background.jpg);
    height: 50vh;
    width: 100%;
    margin-top: 2%;
    background-size: cover; /* Changed to cover to ensure full div coverage */
    background-attachment: fixed;
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.5); /* Black shadow effect */
    font-weight: 500;
    font-size: 1.4rem;
    padding-top: 10vh;
    color: rgb(7, 7, 7);
    text-align: center;
    justify-content: center;
}


.about-box4{
    height: auto;
    width: 85%;
    /* border: 1px solid rgb(250, 1, 1); */
    margin-left: 5%;
    margin-top: 2%;
    color: black;
}
.about-box4 p{
    height: 100%;
    font-size: 3vh;
    font-weight: 500;
    display: flex;
    /* border: 1px solid rgb(250, 1, 1); */
    align-items: center;
    text-align: left;
    color: black;
    font-family: 'El Messiri', sans-serif;
}
.about-box5{
    height: auto;
    width: 40%;
    /* border: 1px solid rgb(250, 1, 1); */
    margin-left: 10%;
    margin-top: 2%;
}
.about-list ul{
    font-size: 2.4vh;
    font-weight: bold;
}

.about-list ul li{
    display: flex;
    align-items: center;
}

.about-list ul p {
    width: 5%;
    margin-top: 2vh;
    font-size: 3vh;
    font-family: 'El Messiri', sans-serif;
}

.about-list ul h1 {
    /* border: 1px solid black; */
    text-align: center;
    width: 90%;
    text-align: left;
    margin-top: 2vh;
    font-family: 'El Messiri', sans-serif;
}