.electrocardiogram-main1 {
    height: auto;
    /* border: 1px solid black; */
    width: 100%; 
}

.electrocardiogram-main2 {
    height: 80vh;
    width: 100%;
    background-image: url(assests/ecgImage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.electrocardiogram-box{
    height: auto;
    width: 60%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding-top: 12%;
    padding-left: 5%;
    /* margin: 0 5% 10% 2%; */
    /* justify-content: center; */
    /* text-align: start; */
    /* align-items: center; */
}
.electrocardiogram-title-box{
    height: auto;
    width: full;
    /* border: 1px solid rgb(185, 14, 14); */
    justify-content: center;
    /* text-align: start; */
    align-items: center;
    padding: 22% 5% 10% 10%;
}
.electrocardiogram-title{
    font-size: 10.5vh;
    font-weight: 500;
    /* width: auto; */
    /* border: 1px solid rgb(20, 185, 14); */
    color: #eb7801;
    /* justify-content: center; */
    /* text-align: start; */
    /* align-items: center; */
}

.electrocardiogram-buttons {
    display: flex;
    justify-content: start;
    margin-top: 3%;
    /* gap: 5px; */
  }
  
  .electrocardiogram-btn {
    background-color: #5e2d89;
    color: #fff;
    border: none;
    /* margin: 2% 5% 10% 2%; */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .electrocardiogram-btn:hover {
    background-color: #7737a1;
  }