.beeEverything-main1 {
    height: 55rem;
    width: 100%;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-main2 {
    height: auto;
    width: 90%;
    margin: 6%;
    display: flex;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-box1 {
    height: auto;
    width: 60%;
    margin: 1%;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-heading1 {
    height: auto;
    width: 90%;
    margin: 1%;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-heading1-pargh {
    height: auto;
    width: 90%;
    text-align: left;
    font-size: 3vh;
    font-weight: bold;
    color: gray;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-heading2 {
    height: auto;
    width: 90%;
    margin: 1%;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-heading2-head {
    height: auto;
    width: 90%;
    text-align: left;
    font-size: 7vh;
    color: #eb7801;
    font-weight: bold;
    font-family: "El Messiri", sans-serif;
  }
  h1 {
    color: #eb7801;
    font-weight: bold;
    /* font-size: 3vh; */
  }
  
  .beeEverything-heading3 {
    height: auto;
    width: 80%;
    margin: 3%;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-heading3-img img {
    height: auto;
    width: 100%;
  }
  
  .beeEverything-box2 {
    height: auto;
    width: 100%;
    margin: 1%;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-box2-heading {
    height: auto;
    width: 95%;
    margin: 5%;
    text-align: left;
    font-size: 2.9vh;
    font-weight: bold;
    font-family: "El Messiri", sans-serif;
  }
  
  .beeEverything-box2-heading p {
    color: gray;
    font-family: "El Messiri", sans-serif;
  }
  