/* General Styles */
.patient-portal {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header Section */
.header-section {
  position: relative;
  background: url('./assests/sparsh.jpg') no-repeat center center/cover;
  height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.quick-actions {
  display: flex;
  justify-content: space-around;
  width: 25%;
  height: auto;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.action {
  text-align: center;
  /* border: 1px solid red; */
  height: 40vh;
  width: 100%; /* Make sure the box takes the full container width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Space out content */
  padding: 10px;
}

/* Style for the Image */
.action img {
  width: 120px; /* Set the size of the image */
  height: 120px; /* Maintain a square aspect ratio */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image fits nicely */
  border: 2px solid #5e2d89; /* Optional border for styling */
  margin-bottom: 10px; /* Add some space below the image */
}

/* Style for the Text */
.action p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 0 0 10px 0; /* Add some space below for the button */
}

/* Style for the Button */
/* .action .btn {
  background-color: #5e2d89;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} */

/* .action .btn:hover {
  background-color: #7737a1;
} */

.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #adadad;
  padding: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.contact-icon {
  font-size: 20px;
  color: #5e2d89;
}

.contact-info p {
  margin: 0;
  color: #333;
}


/* Locations Section */
.locations-section {
  display: flex;
  justify-content: center;
  gap: 0.5%;
  padding: 20px;
  background-color: #f5f5f5;
  font-weight: bold;
  color: #5e2d89;
}

  





  .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .btn {
    background-color: #5e2d89;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #7737a1;
  }
  