/* App.css */
.App {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50; /* Ensure it's on top of other elements */
  height: 4rem; /* Match your navbar height */
}

/* Add padding to the content to ensure it doesn't overlap the navbar */
.content {
  padding-top: 4rem; /* Adjust based on the height of your navbar */
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Optionally, for mobile responsiveness, you can add a media query */
@media (max-width: 768px) {
  .content {
    padding-top: 3.5rem; /* Adjust for smaller screen sizes if necessary */
  }
}
